@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row {
  margin: 0 !important;
}
.top_item__left {
  /* height: auto;
  background-image: url('./assets/sunny.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.top_content img {
  margin-bottom: 10px;
  height:100%; width:100%;
}
.top_content p {
  font-weight: bold;
}
.top_content_item {
  height: 65%;
  display: flex;
  align-items: center;
}
.loading {
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-size: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#weather_div {
  text-shadow: 0px 0px 6px white;
}
.weather_content {
  position: relative;
  height: 100vh;
}
.weather_item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: rgb(40 40 51 / 88%);
    width: 90%;
    height: 100%;
}
.weather_content_left {
  height: 200px;
  width: 100%;
  grid-column: 1 / span 2;
}
.weather_content_right {
  width: 200px;
  height: 80%;
  width: 100%;
  margin: auto;
  grid-column: 3 / span 2;
}
@media screen and (min-width:1366px) {
  .weather_content_left {
    height: 400px;
  }
  .weather_section {
    width: 50% !important;
  }
}
.weather_info {
  position: absolute;
  top: 0;
  left: 0;
}
.weather_temp {
  position: absolute;
  bottom: 0;
}
.weather_location_title {
  font-size: 3rem;
}
.local_time {
  margin-bottom: 2rem;
}
.temp {
  padding-top: 2rem;
  font-size: 4rem;
}

.weather_item_sun {
  background-color: rgb(220 220 220 / 88%);
}

.weather_content_infor {
  text-align: center;
}
.weather_content_infor p {
  font-size: 1.2rem;
}
@media screen and (max-width:500px) {
  .weather_location_title {
      font-size: 1.25rem;
  }
  .local_time {
    font-size: 1.25rem;
    margin-bottom: 1rem !important;
  }
  .temp {
    padding-top: 1rem !important;
    font-size: 2.5rem;
  }
  .weather_content_infor p {
    font-size: 0.8rem;
  }
  .weather_item {
    height: unset !important;
  }
}
.text_color_white {
  color: white;
}