@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row {
  margin: 0 !important;
}
.top_item__left {
  /* height: auto;
  background-image: url('./assets/sunny.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.top_content img {
  margin-bottom: 10px;
  height:100%; width:100%;
}
.top_content p {
  font-weight: bold;
}
.top_content_item {
  /* height: 50%; */
}
.loading {
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-size: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}